/*================== (FUENTES DE GOOGLE) ==================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*================== (Estilos globales, fuentes y estulos generles) ==================*/
html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    /*================== (Fuentes) ==================*/
    --fuenteMain: 'Poppins', sans-serif;
    /*================== (Colores) ==================*/
    --black: #000;
    --white: #fff;
    --blue: #214fbe;
    --red: #fc424a;
    --success: #198754;
    --mrBots: #12d0eb;
    --bg-body: #ecedef;
    --bg-header: #171b27;
}

body {
    font-family: var(--fuenteMain);
    background: var(--bg-body);
    margin: 0;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--black);
    display: block;
}
.contenedor {
    width: 90%;
    margin: auto;
}

.alert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: .8rem 1rem;
    color: var(--white);
    border-radius: .6rem;
    font-size: 1rem;
    animation-name: alert;
    animation-duration: .3s;
    transition: .3s all;

}

@keyframes alert {
    0% {
        margin-top: -2rem;
    }
    50% {
        margin-top: 0;
    }
}
.alert.success {
    background: var(--success);
}