{% extends 'base.html' %}

{% block title %} Resetear el tiempo en las maquinas {% endblock %}


{% block formContent %}
<div class="contenedor">
    <h1>Resetear tiempo</h1>
    <form action="" class="form" method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="campo-form">
            <select name="machine" id="machine">
                <option value="" selected disabled>Selecione una maquina</option>
               {% for machine in machines_all %}
                <option value="{{machine.id}}">{{machine.name}}</option>
               {% endfor %}
            </select>
            <div class="icon__select">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>


        <div class="campo-form">
            <input type="submit" value="Resetear tiempo">
        </div>
    </form>
</div>
{% endblock %}